<header>
  <h1>Tweetful</h1>
  <p>Making The Internet a Little More Thoughtful</p>
</header>

<section>  
  <header>
    <h2>About Tweeful</h2>
  </header>
  <p>
  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section>  
  <header>
    <h2>What Makes Us Different</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  </p>
</section>

<section>  
  <header>
    <h2>Company History</h2>
  </header>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </p>
</section>

<footer>
</footer>